@media screen { 
  .default-content {
    .wp-block-gallery {
      .blocks-gallery-grid {
        padding: 0;
        margin: 0;
      }
    }
    .wp-block-cover {
      .wp-block-cover__inner-container {
        p {
          font-weight: bold;
          font-size: 24px;
        }
      }
    }
  }
}