@media screen {
  .archive-wrapper {
    padding: 30px 0;
    .posts-wrapper {
      .post-item {
        margin-bottom: 30px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .featured-image {
          margin-bottom: 10px;
        }
        .post-title {
          font-size: 24px;
          font-weight: bold;
          margin: 0;
          a {
            color: $main-colour;
            transition: 0.3s;
            &:hover {
              text-decoration: none;
              color: $secondary-colour;
            }
          }
        }
        .post-author {
          margin-top: 5px;
          margin-bottom: 15px;
          font-size: 12px;
          strong {
            color: $main-colour;
          }
        }
        .post-content {
          font-size: 14px;
          line-height: 26px;
          font-weight: normal;
        }
        .read-more {
          margin-top: 15px;
          display: inline-block;
          color: white;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: bold;
          background-color: $main-colour;
          transition: 0.3s;
          text-decoration: none;
          padding: 10px 30px;
          &:hover {
            background-color: $secondary-colour;
          }
        }
      }
    }
    .post-pagination {
      border: 1px solid black;
      display: inline-block;
      font-size: 0;
      .page-numbers {
        display: inline-block;
        border-right: 1px solid black;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 12px;
        color: black;
        vertical-align: middle;
        &:last-child {
          border-right: 0;
        }
        &.current {
          background-color: $main-colour;
          color: white;
        }
      }
    }
  }
}

// Updates
.archive-wrapper {
  .posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .post-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      @media (min-width: 576px) {
        width: calc(50% - 16px);
        margin: 0 8px;
      }
      @media (min-width: 1200px) {
        width: calc(33.33% - 16px);
      }
      .featured-image-link {
        margin-bottom: 8px;
        overflow: hidden;
        width: 100%;
        .featured-image-bg {
          transition: 0.3s all;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 250px;
          width: 100%;
        }
        &:hover {
          .featured-image-bg {
            transform: scale(1.1);
          }
        }
      }
      .content {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .post-author {
          flex-grow: 1;
        }
      }
    }
  }
}